.numberInputWrapper {
  display: flex;
}

.numberInputField {
  pointer-events: none;
  padding: 0 !important;
  width: 30px !important;
  border: 0px solid !important;
  text-align: center;
  font-size: 1.5rem;
}

.valueChangeButton {
  font-size: 2rem;
}
