@import '../../styles/functions';

$sm-width-screen-label-width: 65px;

.numberInputWrapper {
  display: flex;

  input {
    pointer-events: none;
    padding: 0;
    width: defaultSpacingTimes(3);
    border: 0px solid;
    text-align: center;
    font-size: 1.125rem;
  }

  button {
    font-size: 0.75rem;
  }
}
