@import '../../styles/functions';
@import '../../styles/colors';

$narrow-screen-label-width: 65px;

.formWrapper {
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: defaultSpacingTimes(1) defaultSpacingTimes(2);

  label {
    margin: 0;
  }
}

.numberInputsSection {
  display: flex;
  gap: defaultSpacingTimes(4);
}

.numberInputControl {
  display: flex;
  align-items: center;
  width: unset !important;
}

@media (max-width: $md-width-breakpoint) {
  .formWrapper {
    flex-direction: column;
  }
}

@media (max-width: $sm-width-breakpoint) {
  .formWrapper label {
    width: $narrow-screen-label-width;
  }

  .numberInputsSection {
    flex-direction: column;
    gap: 0;
  }
}
