@import '../../styles/functions';
@import '../../styles/variables';

.hotelListItemWrapper {
  width: 80%;
  margin: defaultSpacingTimes(1) auto;
  background: lightgray;
  box-sizing: border-box;
}

.dataSection {
  display: flex;
  gap: defaultSpacingTimes(2);
  padding: defaultSpacingTimes(2);
}

.carouselWrapper {
  width: $left-column-grid-width;
}

.informationWrapper {
  flex: 1;
}

.starRatingWrapper {
}

.roomListSection {
}
