@import '../../styles/functions';
@import '../../styles/variables';
@import '../../styles/colors';

.hotelListItemWrapper {
  width: $fluid-container-width;
  margin: defaultSpacingTimes(1) auto;
  background: $primary-color;
  box-sizing: border-box;
}

.dataSection {
  display: flex;
  gap: defaultSpacingTimes(2);
  padding: defaultSpacingTimes(2);
  border-bottom: 1px solid $secondary-color;
  padding: defaultSpacingTimes(2.5);
}

.addressText {
  font-size: 1.25rem;
}

.carouselWrapper {
  min-width: $left-column-grid-width;
  width: 20%;
}

.hotelInfoWrapper {
  display: flex;
  flex: 1;
}

.informationWrapper {
  flex: 1;
}

@media (max-width: $md-width-breakpoint) {
  .hotelInfoWrapper {
    flex-direction: column-reverse;
  }
}

@media (max-width: $sm-width-breakpoint) {
  .dataSection {
    flex-direction: column;
    align-items: center;
  }

  .hotelInfoWrapper,
  .informationWrapper {
    align-items: center;
    text-align: center;
  }
}
