@import '../../styles/functions';

$star-color: #f5c000;

.groupWrapper {
  display: flex;
  gap: defaultSpacingTimes(0.25);
}

.iconButton:not(:hover) {
  background-color: transparent;
}

.activeIcon {
  color: $star-color;
}

.inactiveIcon {
  opacity: 0.25;
}
