@import '../../styles/functions';

.groupWrapper {
  display: flex;
  gap: defaultSpacingTimes(0.25);
}

.iconButton:not(:hover) {
  background-color: transparent;
}

.activeIcon {
  opacity: 1;
}

.inactiveIcon {
  opacity: 0.25;
}

.starIcon {
  font-size: 1.25rem;
}
