@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

$header-wrapper-height: 350px;
$heading-color: #ffffff;

.headerWrapper {
  height: $header-wrapper-height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/top-view-hotel-photo.jpg');
  background-size: cover;
  background-position: center;
}

.heading {
  color: $heading-color;
  letter-spacing: defaultSpacingTimes(1);
}

.searchFormWrapper {
  transform: translateY(-50%);
  margin: 0 auto defaultSpacingTimes(-3.5) auto;
  width: $fluid-container-width;
}

@media (min-width: $sm-width-breakpoint) and (max-width: $md-width-breakpoint) {
  .searchFormWrapper {
    margin-bottom: defaultSpacingTimes(-6);
  }
}

@media (max-width: $sm-width-breakpoint) {
  .searchFormWrapper {
    margin-bottom: defaultSpacingTimes(-8.5);
  }
}
