$header-wrapper-height: 350px;

.headerWrapper {
  height: $header-wrapper-height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/top-view-hotel-photo.jpg');
  background-size: cover;
  background-position: center;
}

.heading {
  color: white;
}

.searchFormWrapper {
  transform: translateY(-50%);
  margin: auto;
  width: 60%;
  min-width: 320px;
}
